@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Roboto');

$coffee-dark: rgb(53, 41, 41);
$coffee-mid: rgb(177, 107, 81);
$coffee-mid-light: rgb(205, 165, 153);
$coffee-light: rgb(240, 234, 222);
$coffee-light-accent: rgb(222, 212, 200);

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
html {
  background-color: $coffee-dark;
}
body {
  background-color: $coffee-light;
  background: repeating-radial-gradient(circle at center 5%,
    $coffee-light 0,
    $coffee-light-accent 10%,
    $coffee-light 20%);
}

#site-header {
  padding: .5em;
  background-color: $coffee-dark;
  color: $coffee-light;
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: normal;
  line-height: 1.2em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .title {
    font-weight: bolder;
    font-size: 1.2em;
  }

  a, a:visited {
    color: $coffee-light;
  }
}

#site-content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
#site-content {
  width: calc(100% - 1em);
  max-width: 1200px;
}

#site-content > .card {
  margin: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 3px solid $coffee-dark;
}

.card {
  display: box;
  border-radius: .3em;
  border: 1px solid #f8f8f8;
  padding: 1em;
  background-color: white;
  box-shadow: .2em .2em .4em $coffee-mid-light;
  width: auto;

  .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Montserrat;
    border-bottom: 2px solid #f8f8f8;
    margin-bottom: 1em;
  }
}

.card .card {
  .card-title {
    font-size: 1.2rem;
  }
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 3px solid $coffee-mid;
}
.card .card .card {
  .card-title {
    font-size: 1rem;
  }
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 3px solid $coffee-mid-light;
}

.temp {
  color: #ddd;
}

.shift-in {
  transform: translateX(0);
  animation: shift 300ms ease;
  opacity: 1;
}
@keyframes shift {
  0% { transform: translateX(-1em); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.match-list-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: -.5em;
  .card {
    margin: .5em;
  }
}

