{
  "plugins": ["@babel/transform-runtime"],
  "presets": [
    "@babel/preset-react",
    ["env", {"targets":{"browsers":["last 1 Chrome version"]}}],
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 1 Chrome version"],
      },
    }]
  ]
}
